<%- include('includes/head.ejs') %>

  <body>
    <div class="container">
      <h1 class="text-center mt-5 mb-4">Add Location</h1>
      <form class="mt-4 mb-5" action="/add-location" method="POST">
        <div class="form-group">
          <label for="location">Location</label>
          <input type="text" class="form-control" id="location" name="location" placeholder="Enter location">
        </div>
        <button type="submit" class="btn btn-primary mt-3">Add</button>
      </form>
    </div>

    <%- include('includes/end.ejs') %>